.carousel-inner img{
    max-height: 90vh;
	object-fit: cover;
    opacity: 0.85;
}

.carousel-inner h5, p{
    color: white;
    font-weight: bold;
}

.pdecarrusel{
    color:white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}