.logo_de_marca{
    width: 90px;
}

.linkText{ 
    color: #2292BC ;
    text-decoration:none; 
}

.linkText:hover{ 
    color: black ;
}

.navegacion{
    background-color: black;
}

.justify-content-end{
    text-align: left;

}

.navbar  a {
    font-size: 18px;
}